@import "mixins";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Helvetica","微软雅黑";
  //font-family: "苹方";
}

/*zhezhao*/
.body {
  overflow: hidden;
  .zhezhao{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background: rgba(0,0,0,0.4);
    //opacity:0.2;
    z-index: 1500;
  }
}

/******header******/
.header{
  z-index: 5000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.8);
  .header-inner{
    max-width: 980px;
    padding: 0 22px;
    margin: 0 auto;
  }

  /*nav-list*/
  .nav-list{
    position: relative;
    text-align: justify;
    height: 44px;
    @include ons{
      display: none;
    }
    &::after{
      content: '';
      display: inline-block;
      width: 100%;
      height: 0;
    }
    .nav-item{
      transition: transform .8s ease;
      display: inline-block;
      a{
        display: block;
        height: 44px;
        transition: opacity .5s ease;
        &:hover{
          opacity:0.5;
        }
      }
    }
  }
  $nav-map:(
          "logo":20px,
          "mac":31px,
          "ipad":30px,
          "iphone":48px,
          "watch":44px,
          "tv":20px,
          "music":40px,
          "support":57px,
          "search":20px,
          "bag":18px,
  );
  @each $i in map_keys($nav-map){
    .#{$i}{
      width: map_get($nav-map,$i);
      background: url("images/" + $i + ".svg") no-repeat center center;
    }
  }
}

/*close*/
.header .nav-list .close{
  position: absolute;
  top: 0px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  z-index: 333;
  transition: opacity .5s ease;
  opacity:0;
  .heng {
    position: absolute;
    right: 0;
    @include left-right;
    @include top-bottom;
    width: 18px;
    height: 1px;
    background: #fff;
    transform: rotateZ(45deg);
  }
  .shu {
    @include left-right;
    @include top-bottom;
    width: 18px;
    height: 1px;
    background: #fff;
    transform: rotateZ(-45deg);
  }
}
.header .nav-list .close.cha{
  opacity: 1;
  &:hover{
    .heng,.shu{
      opacity: 0.8;}
  }
}

/*click search-box animation*/
.header.searching{
  .search-box{
    z-index: 1;
  }
  .nav-list .menu{
    transform: scale(0,0);
  }
  .search-box .search-box-inner{
    transform: translate3d(0,0,0);
    opacity:1;
  }
  .search-box .card{
    transition: opacity .5s ease .5s;
    opacity:1;
  }
  .search-box .card .card-list li{
    transform: translate3d(0,0,0);
  }
  .nav-list .close{
    opacity:1;
  }
}

/*search-box*/
.header .search-box{
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 682px;
  //height: 44px;
  z-index: -1;
  background: transparent;
  @include left-right;
  @include ons{
    display: none;
  }
  .search-box-inner{
    width: 100%;
    height: 44px;
    transition: transform .5s ease .2s,opacity .5s ease;
    transform: translate3d(800px,0,0);
    opacity:0;
    .button{
      width: 40px;
      height: 44px;
      position: absolute;
      top: 0;
      left: 0;
      background: url("images/search.svg") no-repeat center center;
    }
    input{
      display: block;
      padding-left: 5px;
      box-sizing: border-box;
      margin-top: 11px;
      float: right;
      width: 642px;
      height: 22px;
      line-height: 22px;
      font-size: 16px;
      border: none;
      outline: none;
      color: #fff;
      background: transparent;
    }
  }
  .card{
    width: 682px;
    height: auto;
    background: #fff;
    opacity:0;
    .card-inner{
      margin: 0 40px;
      padding: 24px 0 5px;
      background: #fff;
    }
    h3{
      //padding-top: 3px;
      font-size: smaller;
      line-height: 1px;
      color: #999;
      font-weight: normal;
    }
    .card-list{
      padding-top: 10px;
      li{
        height: 30px;
        line-height: 30px;
        margin: 4px -32px;
        transform: translate3d(100%,0,0);
        &:hover{
          background-color: #f2f2f2;
        }
      }
      @for $i from 1 through 5{
      li:nth-child(#{$i}){
        transition: transform .4s ease ($i/2)*.2s + .2s;
      }
    }
      a{
        color: #999;
        display: block;
        padding: 0 48px;
        text-decoration: none;
        font-size: 14px;
        &:hover{
          color: #0170C9;
        }
      }
    }
  }
}


/*snav-list*/
.header .snav-list{
  display: none;
  height: 48px;
  .snav{
    transition: transform .8s ease;
    display: inline-block;
    z-index: 1000;
    a{
      display: inline-block;
      height: 48px;
      transition: opacity .5s ease;
      &:hover{
        opacity:0.5;
      }
    }
  }
  .logo{
    background-image: url("images/logo_small.svg");
    background-size: 21px 48px;
    @include left-right;
    @include top-bottom;
  }
  .bag{
    background-image: url("images/bag_small.svg");
    background-size: 19px 48px;
    @include top-bottom;
    right: 0;
    padding: 0 16px;
    transition: transform .8s ease;
    transform: translate3d(0,0,0);
  }
  .menu{
    width: 48px;
    @include top-bottom;
    left: 0;
    padding: 0 16px;
    span{
      position: absolute;
      width: 17px;
      height: 1px;
      background: #fff;
    }
    span:nth-child(1) {
      transition: transform 0.5s ease;
      top: 20px;
    }
    span:nth-child(2) {
      transition: transform 0.5s ease;
      bottom: 20px;
    }
  }
  @include ons{
    display: block;
  }
}

/*slist*/
body{
  &.screen{
    overflow: hidden;
  }
}
.bg{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
  background: #000;
  padding:60px 0;
  z-index: 999;
  animation: xiala .8s ease .2s both;
}
.slist{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: #000;
  padding: 0 48px;
  $slist:(
          'mac':37px,
          'ipad':35px,
          'iphone':59px,
          'watch':52px,
          'tv':23px,
          'music':48px,
          'support':69px,
          'search':22px,
  );
  @each $v in map_keys($slist){
    .slist_#{$v}{
      height: 48px;
      width: auto;
      border-bottom: 1px solid #333333;
      background: url("images/" + $v + "_small.svg") no-repeat left center;
      background-size: map_get($slist,$v) 48px;

    }
  }
  @for $i from 1 through 8{
    li:nth-child(#{$i}){
      //transition: transform .4s ease ($i/2)*.2s ;
      //transform: translate3d(-200px, -500px, 0);
      //opacity:0;
      animation: huachu .5s ease ($i/2)*.2s both;
      &:hover{
        opacity:0.8;
      }
    }
  }
  h3{
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    padding: 15px 30px 5px;
  }
}
/*animation of slist*/
@include ons{
  .slisting{
    display: block;
    @keyframes xiala {
      0%{transform: translate3d(0,-500px,0)}
      100%{transform: translate3d(0,0,0)}
    }
    .slist li{
      //transform: translate3d(0, 0, 0);
      //opacity: 1;
      @keyframes huachu {
        0%{transform: translate3d(-300px,-500px,0)}
        100%{transform: translate3d(0,0,0)}
      }
    }

    .snav-list{
      .menu{
        span:nth-child(1){
          transform: translateY(3.5px) rotate(135deg);
        }
        span:nth-child(2){
          transform: translateY(-3.5px) rotate(45deg);
        }
      }
      //.bag{
      //  transform: translate3d(100px,0,0);
      //}
    }
  }
  .header .snav-list .bag.bags{
    transform: translate3d(100px,0,0);
  }
}


/******banner******/
.carousel{
  overflow: hidden;
  position: relative;
  min-height: 150px;
  max-height: 800px;
  height: calc(100vh - 76px);

  /*gallery-slide*/
  .gallery-slide{
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
    a{
      transition: transform 1s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translate3d(0,0,0);
      &.active{
        z-index: 1;
        display: block;
        transform: translate3d(0,0,0);
      }
      &.leave{
        display: block;
        transform: translate3d(-300px,0,0);
      }
      &.right{
        display: block;
        transform: translate3d(100%,0,0);
        z-index: 5;
      }
      &.enter{
        display: block;
        animation: enter 1s ease both;
      }
    }
    @keyframes enter {
      0%{
        transform: translate3d(-300px,0,0);
      }
      100%{
        transform: translate3d(0,0,0);
      }
    }
    .iphone7{
      background-image: url("images/iphone_large.jpg");
      background-color: #000;
    }
    .watch{
      background-image: url("images/watch_large.jpg");
      background-color: #f2f2f2;
    }
    .airpods{
      background-image: url("images/airpods_large.jpg");
      background-color: #fff;
    }
    .event{
      background-image: url("images/event_large.jpg");
      background-color: #000;
    }
  }

  /*tab-list*/
  .tab-list{
    z-index:550;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    .dot-nav{
      display: inline-block;
      &::after{
        content: '';
        height: 0;
        clear: both;
      }
      .dot{
        float: left;
        width: 50px;
        height: 2px;
        margin: 0 5px;
        padding: 10px 0;
        cursor: pointer;
        background: #bcbcbc;
        opacity:0.5;
        background-clip: content-box;
        &.active{
          background-color: #333;
        }
      }
    }
  }

  /*btn*/
  ul{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    li{
      position: absolute;
      cursor: pointer;
      width: 20%;
      height: 100%;
      z-index: 3;
      opacity:0;
      &:hover{
        opacity:1;
      }
    }
    .left{
      left: 0;
    }
    .right{
      right: 0;
    }
    .btn{
      @include cube(64px);
      @include top-bottom;
      border-radius: 32px;
      background-color: rgba(180,180,180,0.25);
      z-index: 1000;
      float: left;
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      z-index: 5;
      &:hover{
        background-color: rgba(180,180,180,0.3);
      }
    }
    .btn-left{
      left: 18px;
      background-image: url("images/1.png");

    }
    .btn-right{
      right: 18px;
      background-image: url("images/2.png");
    }
  }

}



/******ads******/
.row{
  overflow: hidden;
}
.col{
  float: left;
}

@for $i from 1 through 12{
  .l-#{$i}{
    width: percentage($i/12);
  }
}
@include onm{
  @for $i from 1 through 12{
    .m-#{$i}{
      width: percentage($i/12);
    }
  }
}
@include ons{
  @for $i from 1 through 12{
    .s-#{$i}{
      width: percentage($i/12);
    }
  }
}

.ads{
  border-bottom: 2px solid #fff;
}
.ads li{
  height: 200px;
}

$ads-list:"ios","watchos","swift_playgrounds","music";
@each $ad in $ads-list{
  .#{$ad}{
    background: url("images/" + $ad + "_large.jpg") no-repeat center center;
    @include onm{
      background: url("images/" + $ad + "_medium.jpg") no-repeat center center;
    }
    @include ons{
      background: url("images/" + $ad + "_small.jpg") no-repeat center center;
    }
  }
}



/******footer******/
.footer{
  background-color: #f2f2f2;
}
.footer-list{
  width: 100%;
  box-sizing: border-box;
  //border-bottom: 1px solid #000;
  .footer-list-inner{
    max-width: 980px;
    margin: 0 auto;
    padding: 20px 22px 0;
    font-size: 12px;
  }
}
.footer-item{
  width: 20%;
  dt{
    height: 22px;
    line-height: 22px;
    color: #333;
    font-weight: 600;
  }
  dd{
    a{
      text-decoration: none;
      color: #666;
      height: 22px;
      line-height: 22px;
      &:hover{
        color: #333;
        text-decoration: underline;
      }
    }
  }
  .kong{
    margin-top: 28px;
  }
  .dl-box .cha{
    display: none;
  }
}

@include ons {
  .footer-list {
    .footer-item {
      width: 100%;
    }
    .kong {
      margin-top: 0;
    }
    .dl-box {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #e3e3e3;
      dt {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 400;
      }
      dd {
        overflow: hidden;
        height: 0;
        line-height: 0;
        a {
          display: block;
          height: 100%;
        }
      }
      .cha {
        width: 26px;
        height: 30px;
        //background: #0ac2d2;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        display: block;
        transition: transform .5s ease;
        span {
          width: 10px;
          height: 1px;
          background-color: #333;
          @include left-right;
          @include top-bottom;
        }
        span:nth-child(1) {transform: rotateZ(0deg)};
        span:nth-child(2) {transform: rotateZ(-90deg)};
      }
    }
  }
  .footer {
    .footer-item dt {
      font-size: 14px;
    }
    .dl-box.xiala {
      padding-bottom: 16px;
      dd {
        transition: height 0.3s ease;
        height: 30px;
        line-height: 30px;
      }
      .cha {
        transform: rotateZ(45deg);
      }
    }
  }


}

/*footer-bottom*/
.footer-bottom{
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 22px 36px;
  font-size: 12px;
  font-family: "text";
  color:#999999;
  box-sizing: border-box;
  .footer-shang{
    border-bottom: 1px solid #e3e3e3;
    max-height: 1024px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    a{
      color:#0088CC;
      font-size: 12px;
      &:hover{
        color:black;
        text-decoration: underline;
      }
    }
    @include ons{
      border: none;
    }
  }
  .footer-mid{
    float: right;
    z-index: 2;
    a{
      color: #666;
      text-decoration: none;
      vertical-align: middle;
      &:hover{
        color:black;
        text-decoration: underline;
      }
    }
    span{
      background-repeat: no-repeat;
      background-size: 16px 16px;
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(images/USA.png);
      padding-right: 5px;
      background-position: left center;
      cursor: pointer;
      float: left;
      margin-top: 1px;
    }
    @include ons{
      float: none;
      padding:12px 0;
    }
  }
  .copyright{
    max-height: 9999px;
    .appleInc{
      margin-right: 26px;
      float: left;
      @include ons{
        float: none;
        padding:8px 0;
      }
    }
    .privacy{
      margin-right: 26px;
      float: left;
      a{
        border-right: 1px solid #d6d6d6;
        margin-right: 10px;
        padding-right: 12px;
        white-space: nowrap;
        color: #666;
        text-decoration: none;
        &:hover{
          color:black;
          text-decoration: underline;
        }
      }
      @include ons{
        float: none;
      }
    }
  }
}
